Source: python-eventlib
Section: python
Priority: optional
Maintainer: Dan Pascu <dan@ag-projects.com>
Uploaders: Adrian Georgescu <ag@ag-projects.com>, Saul Ibarra <saul@ag-projects.com>
Build-Depends: debhelper (>= 7.3.5), python-all (>= 2.7)
Standards-Version: 3.9.5

Package: python-eventlib
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-greenlet, python-openssl
Description: Eventlib is a networking library written in Python.
 It achieves high scalability by using non-blocking I/O while at the same
 time retaining high programmer usability by using coroutines to make the
 non-blocking io operations appear blocking at the source code level.
