Source: python-eventlet-0.8
Section: python
Priority: optional
Maintainer: Dan Pascu <dan@ag-projects.com>
Uploaders: Adrian Georgescu <ag@ag-projects.com>, Luci Stanescu <luci@ag-projects.com>, Saul Ibarra <saul@ag-projects.com>
Build-Depends: cdbs (>= 0.4.47), debhelper (>= 5.0.42), python-all-dev (>= 2.5.2), python-support
Standards-Version: 3.8.4

Package: python-eventlet-0.8
Architecture: all
Depends: ${python:Depends}
Conflicts: python-eventlet
Description: Eventlet is a networking library written in Python.
 It achieves high scalability by using non-blocking I/O while at the
 same time retaining high programmer usability by using coroutines to
 make the non-blocking io operations appear blocking at the source code level.
